<h1> Discussion <%= @ligue.name %></h1>



<div id="messages" data-chatroom-id="<%= @ligue.id %>">
  <% @messages.each do |message| %>
    <%= render 'shared/card_message', message: message %>
  <% end %>
</div>

<%= simple_form_for [@ligue, @message] do |f| %>
  <%= f.input :content%>
  <%= f.submit 'Send' %>
<% end %>
