<h1> Discussion <%= @ligue.name %></h1>



<div id="messages" data-chatroom-id="<%= @ligue.id %>">
  <% @messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.nickname %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [@ligue, @message] do |f| %>
  <%= f.input :content%>
  <%= f.submit 'Send' %>
<% end %>
