<div class="player-lineup player-position-<%=selection.terrain_position%>" data-toggle="modal" data-target="#exampleModalLong-<%= selection.id %>">
  <%= image_tag selection.player.team.icon %>
  <p><span><%= selection.player.last_name %></span></p>
</div>
<div class="modal fade" id="exampleModalLong-<%= selection.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sélectionnez un joueur, <%= @line_up.budget %> <i class="fas fa-coins"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(:request, url: search_path, method: :post, remote: true) do |f| %>
          <div class="searchplayerform" data-selection-id="<%= selection.id %>">
            <div class="row justify-content-center align-items-center">
              <div class="col-12 d-flex justify-content-center">
                <div class="row w-50">
                  <div class="col-9 px-2 my-auto">
                    <%= f.input :last_name, placeholder: "Nom du joueur", label: false %>
                  </div>
                  <div class="col-3 d-flex px-0">
                    <%= f.button :submit, "Rechercher", class: "button-small" %>
                  </div>
                </div>
                </div>
              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-3">
                  <%= f.input :team, placeholder: "Équipes", collection: Team.all.map(&:name) %>
                </div>
            </div>
          </div>
        <% end %>
        <div class="card-player-grid" id="players-<%= selection.id %>">
        <%# <%= render 'selection_players_modale', players: Player.where(position: selection.player.position).first(10) %>
          <% Player.selectable_for(selection).each do |player| %>
            <% if player.cote > selection.line_up.budget %>
              <div class="card-player disable">
                <div class="card-player-content">
                  <%= image_tag player.team.icon %>
                <div class="card-player-title">
                  <p><%= player.first_name[1] %>. <%= player.last_name %> 💸 </p>
                </div>
                 <div class="player-rating">
                    <%= player.cote %> <i class="fas fa-coins"></i>
                </div>
                </div>
              </div>
            <% elsif @line_up_teams.select {|team| team == player.team.name}.count >= 3 %>
              <div class="card-player disable">
                <div class="card-player-content">
                  <%= image_tag player.team.icon %>
                <div class="card-player-title">
                  <p><%= player.first_name[1] %>. <%= player.last_name %> 🙅‍♂️4️⃣ </p>
                </div>
                 <div class="player-rating">
                    <%= player.cote %> <i class="fas fa-coins"></i>
                </div>
                </div>
              </div>
            <% else %>
              <%= link_to selection_path(selection, player), method: :patch do  %>
                <div class="card-player">
                  <div class="card-player-content">
                      <%= image_tag player.team.icon %>
                    <div class="card-player-title">
                      <p><%= player.first_name[1] %>. <%= player.last_name %></p>
                    </div>
                    <div class="player-rating">
                      <%= player.cote %> <i class="fas fa-coins"></i>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# #en JS retrouver le formulaire (query selector) , poser un écouteur sur le formulaire ,
#dès qu'on clique submit, retrouver les valeurs dans les inputs
#une fois input retrouvé, faire fetch sur player index, utislier le résultat dans la partiale de players id %>
