<% players.each do |player| %>

  <% if player.cote > selection.line_up.budget %>
    <div class="card-player disable">
      <div class="card-player-content">
        <%= image_tag player.team.icon %>
      <div class="card-player-title">
        <p><%= player.first_name[0] %>. <%= player.last_name.truncate(15) %></p>
      </div>
         <div class="player-rating">
          <%= player.cote %> <i class="fas fa-coins"></i>
        </div>
      </div>
    </div>
     <% elsif @line_up_teams.select {|team| team == player.team.name}.count >= 3 %>
      <div class="card-player disable">
        <div class="card-player-content">
          <%= image_tag player.team.icon %>
        <div class="card-player-title">
          <p><%= player.first_name[0] %>. <%= player.last_name.truncate(15) %></p>
        </div>
         <div class="player-rating">
            <%= player.cote %> <i class="fas fa-coins"></i>
        </div>
        </div>
      </div>
  <% else %>
    <%= link_to selection_path(selection, player), method: :patch do  %>
      <div class="card-player">
        <div class="card-player-content">
            <%= image_tag player.team.icon %>
          <div class="card-player-title">
            <p><%= player.first_name[0] %>. <%= player.last_name.truncate(15) %></p>
          </div>
          <div class="player-rating">
            <%= player.cote %> <i class="fas fa-coins"></i>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
