
<div class="main-container">
  <div class="top-view">
    <div class="top-view-title">
      <h1>
      Bienvenue, <%= @line_up.user.nickname %>
      </h1>
    </div>
    <div class="top-view-content">
      <div class="top-view-content-main">
        <div class="top-view-content-trophee">
          <i class="fas fa-trophy"></i>
        </div>
        <div class="top-view-content-position">
          <h3>Votre score</h3>
          <h3><span><%= @line_up.score %> points</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="languette-container">
    <div class="languette-header">
    <h3 class="languette-container-title">Mon équipe</h3> 
    <span class="budget">Budget : <%= @line_up.budget %> <i class="fas fa-coins"></i></span>
    </div>
    <div class="terrain">
      <% @line_up.selections.order(:terrain_position).each do |selection| %>
      <%= render "players_modale", selection: selection, line_up_teams: @line_up_teams %>
      <% end %>
    </div>

    <%= render 'shared/navbar' %>
  </div>
</div>


<%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  <%= link_to "Players modal", players_modal_path(@line_up, players: @players), remote: true %>
<%# </button> %>





