<h1>Lineup</h1>

<% @line_up.selections.each do |selection| %>
  <div class="card-player" data-toggle="modal" data-target="#exampleModalLong-<%= selection.id %>">
    <div class="card-player-content">
        <%= image_tag selection.player.team.icon %>
        <div class="card-player-title">
            <p><%= selection.player.first_name %><span> <%= selection.player.last_name %></span></p>
        </div>
        <div class="player-rating">
            8.4 <i class="fas fa-star"></i>
        </div>
    </div>
  </div>
<div class="modal fade" id="exampleModalLong-<%= selection.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= selection.player.position %> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-player-grid">
          <% Player.where(position: selection.player.position).first(40).each do |player| %>
            <div class="card-player">
              <div class="card-player-content">
                <%= image_tag player.team.icon %>
                <div class="card-player-title">
                  <%= player.first_name %><span> <%= player.last_name %></span></p>
                </div>
                <div class="player-rating">
                 8.4 <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>


<%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  <%= link_to "Players modal", players_modal_path(@line_up, players: @players), remote: true %>
<%# </button> %>





