<div class="container-card-message">
  <div class="card-message " id="message-<%= message.id %>">
    <div class="card-message-photo">
      <%= cl_image_tag message.user.photo.key%>
    </div>

    <div class="card-message-name-content">
      <div class="card-message-date">
        <div class="card-name">
          <h4> <%= message.user.nickname %></h4>
        </div>
        <span class="card-message-name-content-date"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
      </div>
      <p><%= message.content %> </p>
    </div>
  </div>
</div>

 <!-- render 'shared/card_message' -->
