<div class="container-navbar-ligue">
  <ul class="ligue-navbar">
    <li class="<%='ligue-navbar-active' if params[:controller] == 'ligues'%>">
        <%= link_to ligue_path(@ligue) do %>Classement<% end %>
    </li>
    <li class="<%='ligue-navbar-active' if params[:controller] == 'messages'%>">
        <%= link_to ligue_messages_path(@ligue) do %>Discussion<% end %>
    </li>
    <li >
        <%= link_to "#" do %>Paramètres<% end %>
    </li>
  </ul>
</div>

<%# render 'shared/navbar-ligue' %>

