<div class="main-container">
    <div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
    <%= image_tag "dulin.png", id: "dulin"%>
  </div>
  <div class="snowflake">
   <%= image_tag "dulin.png", id: "dulin"%>
  </div>
  <div class="snowflake">
   <%= image_tag "dulin.png", id: "dulin"%>
  </div>
  <div class="snowflake">
   <%= image_tag "dulin.png", id: "dulin"%>
  </div>
  <div class="snowflake">
   <%= image_tag "dulin.png", id: "dulin"%>
  </div>
  <div class="snowflake">
   <%= image_tag "dulin.png", id: "dulin"%>
  </div>
  <div class="snowflake">
   <%= image_tag "dulin.png", id: "dulin"%>
  </div>
  <div class="snowflake">
   <%= image_tag "dulin.png", id: "dulin"%>
  </div>
  <div class="snowflake">
   <%= image_tag "dulin.png", id: "dulin"%>
  </div>
  <div class="snowflake">
   <%= image_tag "dulin.png", id: "dulin"%>
  </div>
</div>
  <div class="top-view">
    <div class="top-view-title">
      <h1>Règles de la 3ème mi-temps</h1>
    </div>
  </div>

  <div class="languette-container">
    <div class="container">
      <div class="container-rules">
      <ul>
          <li>La première règle de la 3MT est : il est interdit de parler de la 3MT.</li>
          <li>La seconde règle de la 3MT est : il est interdit de parler de la 3MT.</li>
          <li>Troisième règle de la 3MT : quelqu'un crie stop, quelqu'un s'écroule ou n'en peut plus, c'est qu'il a trop bu.</li>
      </ul>
      <%# <%= image_tag "dulin.png", id: "dulin"%>
      </div>
    </div>
     <%= render 'shared/navbar' %>
  </div>

<script>
</script>