<div class="main-container">
<div class="top-view">
  <div class="top-view-title">
    <h1>Créer une ligue</h1>
  </div>
  <div class="top-view-content">
    <div class="top-view-content-main">
      <div class="top-view-content-trophee">
        <%= image_tag "beer_rugby.png" %>
      </div>
      <div class="top-view-content-position">
        <h3>Ici démarre votre nouvelle aventure !</h3>
      </div>
    </div>
  </div>
</div>
<div class="languette-container">
  <div class="px-4 m-auto">
    <%= simple_form_for @ligue do |f| %>
          <%= f.input :name, label: "Nom de la ligue" , placeholder: "Les locomotives", input_html: { class: 'input_shadow', autocomplete: 'off' }, label_html: { class: "label-input" } %>
          <%= f.input :description, as: :string,  placeholder: "La ligue officielle de la 3ème Mi-temps", input_html: { class: 'input_shadow', autocomplete: 'off' }, label_html: { class: "label-input" } %>
          <%# <%= f.input :password, label: "Oh shit here we go again", placeholder: "Azerty"  %>
          <%= f.input :photo, as: :file, label: "Photo de la ligue" %>
          <%= f.button :submit, "Créer ma ligue", class: "button-large"%>
    <% end %>
    <%= render 'shared/navbar' %>   
  </div>
</div>

</div>